.mytransactions-page {
    width: 100%;
    color: black;
}

.mytransactions-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 0px;
}

.mytransactions-box {
    width: 100%;
}

.empty-mytransactions {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    margin: 10px 0px;
    color: red;
}

.mytransaction-title {
    text-align: center;
    margin: 20px 0px;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

.mytransaction-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    margin: 20px;
}

.mytransaction-filter-select-container{
    display: flex;
}

.transaction-filter-select{
    font-size: 1.2rem;
    cursor: pointer;
}

.mytransaction-remove-all-filters{
    color: white;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

.mytransaction-remove-all-filters:hover{
    background-color: var(--blue-bg-color);
    border: 1px solid var(--blue-bg-color);
    color: white;
}
.mytransaction-tile {
    display: flex;
    margin: 25px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px var(--blue-bg-color);
}

.mytransaction-sender-details,
.mytransaction-reciever-details,
.mytransaction-arrow,
.mytransaction-colon,
.mytransaction-transaction-amount {
    font-size: 1.5rem;  
    padding: 10px;
}

.font-red{
    color: red;
}

.font-green{
    color: green;
}