* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}
.df{
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  caret-color: white;
}

:root {
  /* --blue-bg-color: rgb(39, 126, 138); */
  /* --blue-bg-color: #3333ff; */
  --blue-bg-color: #0078ad;
}


.profile-page{
  color: white;
}